@model IEnumerable<tett.Models.Xe>
@using tett.Models


@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_MainLayout.cshtml"; }

<!-- Banner -->

<div class="banner">
    <div class="banner_background" style="        background-image: url('../../Assets/images/orangecar.jpg');
"></div>
    <div class="container fill_height">
        <div class="row fill_height">
            <div class="banner_product_image">

                @*<img src="~/Assets/images/greenaudi.jpg" />*@
            </div>
            <div class="col-lg-5 offset-lg-4 fill_height">
                <div class="banner_content">
                    <h1 style="color:white; margin-bottom:30px; font-family:'Comic Sans MS'">Bạn cần xe? Đã có chúng tôi.</h1>
                    <div class="banner_price"><span></span></div>
                    <div class="banner_product_name"></div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="button banner_button"><a href="@Url.Action("Index", "Cars")">Thuê ngay</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
