
@{
    ViewBag.Title = "ThongBaoHDThanhCong";
    Layout = "~/Views/Shared/_Layout_KH.cshtml";
}

<h1>CHÚC MỪNG BẠN ĐÃ TẠO HỢP ĐỒNG THÀNH CÔNG</h1>
<div>Số tiền trả trước:  @Session["tienTT"].ToString()</div>
<p>Hẹn gặp quý khách đúng vào lúc @Session["ngayNhan"].ToString() Bạn hãy đến Trung tâm cho thuê xe TTGO đặt trụ sở tại 2/3 Bàu cát 2, phường 14, quận Tân Bình để nhận xe nhé.</p>
<p>Khi đi nhớ cầm theo: Chứng minh nhân dân, giấy phép lái xe và sổ hộ khẩu nhé.</p>


